<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="1" parallel="methods">
    <listeners>
        <listener class-name="utilities.ExtentListener" />
    </listeners>

    <test verbose="2" preserve-order="true" name="ChromeTests">
        <parameter name="browser" value="Chrome"/>
        <groups>
            <run>
                <include name = "Sanity">
                </include>
            </run>
        </groups>
        <classes>
            <class name="tests.partnerManager.PartnerMainRunner">
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="FireFoxTests">
        <parameter name="browser" value="FireFox"/>
        <groups>
            <run>
                <include name = "Regression">
                </include>
            </run>
        </groups>
        <classes>
            <class name="tests.partnerManager.PartnerMainRunner">
            </class>
        </classes>
    </test>

<!--    <test verbose="2" preserve-order="true" name="Sanity Tests">-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name = "Sanity">-->
<!--                </include>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="tests.partnerManager.partnerMainRunner">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

    <test verbose="2" preserve-order="true" name="Regression Tests">
        <groups>
            <run>
                <include name = "Regression">
                </include>
            </run>
        </groups>
        <classes>
            <class name="tests.partnerManager.PartnerMainRunner">
            </class>
        </classes>
    </test>


</suite>